name: Test Runner (Student Starter)

on:
  discussion:
    types: [edited]

jobs:
  call-central-runner:
    uses: Pau1R/python2026/.github/workflows/test_runner.yml@main
    secrets:
      TEACHER_PAT: ${{ secrets.TASKS_REPO_TOKEN }}
      OPENROUTER_API_KEY: ${{ secrets.OPENROUTER_API_KEY }}
