name: Test Runner (Student Starter)

on:
  discussion_comment:
    types: [created, edited]

jobs:
  call-central-runner:
    uses: Pau1R/python2026_tasks/.github/workflows/test_runner.yml@main
    secrets:
      TEACHER_PAT: ${{ secrets.TEACHER_PAT }}
      OPENROUTER_API_KEY: ${{ secrets.OPENROUTER_API_KEY }}
